body {
	margin: 0;

	background: black;
}

main {
	position: relative;
	left: 15%;
	top: 10%;

	width: 70%;

	color: white;

	font-size: 1.2em;
}

.main-content-block {
	display: flex;

	visibility: hidden;

	justify-content: center;
	align-items: center;

	width: 90%;

    margin: 5%;

    border: none;
}


main h1,
main h3 {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


main table,
main table th,
main table td {
	border: 1px solid white;

	border-collapse: collapse;
}

main table th,
main table td {
	padding: 10px;
}


a[href] {
	text-decoration: none;
}


.rounded-image {
	margin: 20px;

	border-radius: 50%;

	shape-outside: circle();
}

#javascript-image {
	margin: 20px;

	shape-outside: polygon(50% -6%, 105% 23%, 105% 77%, 50% 106%, -5% 77%, -5% 23%);
}

#python-image,
#javascript-image {
	float: right;

	width: 200px;
	height: 200px;
}


#python-code-image {
	float: right;

	width: 400px;
	height: 400px;
}


#guido-image,
#microsoft-image {
	float: left;

	margin: 20px;

	width: 200px;
	height: 200px;
}

#html-image {
	float: right;

	width: 200px;
	height: 200px;

	shape-outside: polygon(0 -3%, 100% -3%, 91% 94%, 50% 104%, 9% 94%);

	margin: 20px;
}

.back-arrow {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;

	padding: 3px 7px 10px 7px;

	width: 50px;
	height: 50px;

	transition: .3s;
}

.back-arrow:hover {
	background-color: red;
}

area {
	outline: none;
}