nav {
	position: sticky;
	top: 0;
	left: 15%;

	width: 70%;

	background: black;

	border-bottom: 1px solid #e60000;

	z-index: 100;
}


nav ul {
	margin: 0;
	padding: 0;

	list-style-type: none;

	overflow: hidden;
}


nav ul div li {
	display: inline;
}


nav ul div li a,
nav ul div li.dropdown div span {
	display: inline-block;
	padding: 15px 15px 30px 15px;

	color: white;
	font-size: 1.3em;

	transition: 0.3s;

	cursor: pointer;
}


nav ul div li a:hover,
nav ul div li span:hover {
	color: #e60000 !important;
	text-shadow: 0 0 3px #e60000 !important;
}



nav ul div.nav-left li {
	float: left;
}


nav ul div.nav-right li {
	float: right;
}


nav ul div li.dropdown div span {
	position: absolute;

	visibility: hidden;

	background-color: black;
	color: white;
	font-size: 1.3em;

	transition: visibility 0.3s, color 0.3s;

	cursor: pointer;

	border-bottom: 1px solid #e60000;
}


nav ul div li.dropdown span.dropdown-heading {
	z-index: 1000;

	visibility: visible;
}


nav ul div li.dropdown div:hover span:not(:first-child),
nav ul div li.dropdown span:hover:not(:first-child) {
	width: 200px;

	visibility: visible;
}


nav ul div li a.active,
nav ul div li a.active:hover {
	color: #1100ff !important;
}

nav ul div li a.active:hover {
	text-shadow: 0 0 3px #1100ff !important;
}