<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/background.css">
	<link rel="stylesheet" type="text/css" href="/static/css/form.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script type="text/javascript" src="/static/js/navbar.js"></script>
	<script type="text/javascript" src="/static/js/background.js"></script>
	<script type="text/javascript" src="/static/js/login.js"></script>
	<script type="text/javascript" src="/static/js/form.js"></script>
</head>
<body>
	{% include 'components/navbar.html' %}


	<div class="background-block"></div>


	<section>
		<form id="login-form">
			<fieldset>
				<small>Username or email</small>
				<input type="text" name="username" minlength="4" maxlength="50" required>

				<small>Password</small>
				<input type="password" name="password" minlength="4" maxlength="30" required>
				<i class="fa fa-eye-slash"></i>
			</fieldset>

			<small id="error-block"></small>

			<label for="remember-me">
				<input type="checkbox" name="remember-me" value="remember-me" id="remember-me">
				Remember me
			</label>

			<button>Login</button>
		</form>
	</section>


	<script type="text/javascript">
		var csrfToken = '{{ csrf_token() }}';
	</script>
</body>
</html>