<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script type="text/javascript" src="/static/js/background.js"></script>


	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/archive.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/background.css">
</head>
<body>
	{% include 'components/navbar.html' %}


	<div class="background-block"></div>


	<section>
		<img src="/static/images/map.png" usemap="#nav-map">

        <map name="nav-map">
            <area shape="rect" coords="90, 0, 220, 130" href="/archive/python">
            <area shape="rect" coords="410, 0, 540, 130" href="/archive/javascript">
            <area shape="rect" coords="745, 0, 865, 130" href="/archive/html">
        </map>
	</section>
</body>
</html>