<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Home</title>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/background.js"></script>


	<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/home.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/footer.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/background.css'>
</head>
<body>
	{% include 'components/navbar.html' %}


	<div class='background-block'></div>


	<main>
		<iframe src="https://www.youtube.com/embed/cE0wfjsybIQ?autoplay=1" class="main-content-block"></iframe>
		<h1>Welcome!</h1>
	</main>
</body>
</html>