<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Home</title>


	<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/footer.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/background.css'>
</head>
<body>
	<nav>
		<ul>
			<div class='nav-left'>
				<li><a href='/python'>Python</a></li>
				<li><a href='/javascript'>JavaScript</a></li>
				<li><a href='/html'>HTML</a></li>
			</div>
			<div class='nav-right'>
				<li><a href='/login'>Login</a></li>
				<li><a href='/registration'>Registration</a></li>
			</div>
		</ul>
	</nav>
</body>
</html>